<footer class="footer-webpage text-light mt-lg-1 py-0">
  <p class="letra-footer my-2 text-white fs-5">TheVolkner - 2022.
    <a href="https://www.linkedin.com/in/omar-arvelo-578a491a2/" class="ms-2 text-white fs-5" target="_blank"><i class="fa-brands fa-linkedin-in mx-2"></i></a>|
    <a href="https://github.com/TheVolkner" class="text-white fs-5" target="_blank"><i class="fa-brands fa-github mx-2"></i> </a>|
    <a href="https://www.instagram.com/omarblz81/" class="text-white fs-5" target="_blank"><i class="fa-brands fa-instagram mx-2"></i></a>|
  </p>
 </footer>

