<h1>Preguntas de {{titulo}}</h1>
<main class="container">
  <article class="row">
    <section class="col-md-12">
      <mat-card *ngFor="let p of preguntas; let i = index" class="mt-2">
        <mat-card-content>
          <p>
            <b>{{i + 1 + ' - '}}</b>
            <!--OTRA FORMA DE IMPRIMIR EL CONTENIDO DE LA PREGUNTA EN EL SPAN APARTE DE INTERPOLACIÓN ES CON INNER HTML-->
            <span class="me-2" [innerHTML]="p.contenido"></span>
          </p>
          <section class="container-fluid">
            <article class="row">
              <section class="col-md-6">
                <p>1) {{p.opcion1}}</p>
              </section>
              <section class="col-md-6">
                <p>2) {{p.opcion2}}</p>
              </section>
              <section class="col-md-6">
                 <p>3) {{p.opcion3}}</p>
              </section>
              <section class="col-md-6">
                <p>4) {{p.opcion4}}</p>
              </section>
            </article>
            <mat-divider></mat-divider>
            <p class="mt-2">
              <b>Respuesta correcta: {{p.respuesta}}</b>
            </p>
            <mat-divider></mat-divider>
            <button mat-raised-button color="primary" class="mt-2 me-2" [routerLink]="['/admin/preguntas',p.pregunta_id,id_examen,titulo]">Actualizar</button>
            <button mat-raised-button color="warn" class="mt-2" (click)="eliminarPregunta(p.pregunta_id)">Eliminar</button>
          </section>
        </mat-card-content>
      </mat-card>
    </section>
  </article>
</main>
<article class="container">
  <section class="row">
    <section class="col-md-12 text-center mb-5 mt-2">
      <button mat-raised-button color="primary" class="mt-2 mb-5" [routerLink]="['/admin/add-pregunta',id_examen,titulo]">Agregar Pregunta</button>
      <button mat-raised-button color="primary" class="mt-2 ms-2 mb-5" [routerLink]="['/admin/examenes']">Regresar</button>
    </section>
  </section>
</article>
